.mat-toolbar {
    background: #055052;
    color: #F3F2C9;
}

.mat-toolbar-row{
    display: block;
    margin-top: 15px;
}

.mat-toolbar-row span {
    margin-left: 10px;
}

.mat-toolbar-row a {
    text-decoration: none;
}
.mat-toolbar-row a:hover{
    
    color:#003638  ;
}

.mat-toolbar-row img{
    width: 50px;
    height: 50px;
}

@media (max-width: 599px){
    .mat-toolbar-row{
        height: 80px;
    }
}