/*.list{
    //background-color: #11b2cc;
}*/

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

li{
    background-color: #384452;
}
li a{
    font-size: 20px;
    color: #ffffff;
}

li:hover{
    background-color: #25b8ba;
}