<!-- <div class="container">-->
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
           <app-search-bar></app-search-bar>
        </nav>

        <!-- Page Content -->
       <div id="content">
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                     <div class="container-fluid">            
                       
            
                    </div>
                </nav>
            </div>
            <!-- We'll fill this with dummy content -->
            <app-maps></app-maps>
            <app-list-teachers-info></app-list-teachers-info>
            
        </div>
    </div>
<!--</div>-->
